__pycache__
.DS_Store
.vscode
datasets/graph/*
!datasets/graph/config.yaml
wandb/
logs/
venv/
debug/
data-gen/outputs/
shmetis
hmetis
benchmarks/
*.tar.gz
*.tar.xz
hmetis-1.5-linux/
condaenv.*.requirements.txt